*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body{
    background-color: #FEFCF5;
    color: #1A1A1A;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 3px#1A1A1A;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Nav */
nav{
    background-color: #123458;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 65px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-left: 2em;
    width: 55px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.logo img{
    width: 100%;
    object-fit: contain;
}
.nav{
    flex: 1;

}

.nav ul{
    font-size: 1.2em;
    letter-spacing: 5px;
    margin-right: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    text-decoration: none;
    color: white;
    list-style: none;
}

.nav ul li a{
    color: white;
    text-decoration: none;
    transition: all ease 1s;
}

.nav ul li a:hover {
    color: #FFD700;
}

/* Nav-end */

/* header */
header{
    text-align: center;
    padding: 100px 30px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.cta button{
    width: 300px;
    height: 75px;
    background-color: #FFD700;
    border-radius: 12px;
    border: 2px solid rgb(200, 200, 89);
    transition: all 0.3s ease-in;
}

.cta button:hover{
    transform: scale(1.05);
}

.cta a{
    color: #1A1A1A;;
    text-decoration: none;
}
.cta button a:visited {
    color: #1A1A1A;;
    text-decoration: none;
}


/* header-end */

/* service */

.about{
    text-align: center;
    margin: 3em 0;
}

.about span{
    color: #FFD700;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.problem, .solution{
    padding: 2em;
    background-color: #f7f2e4;
}

.solution{
}

.problem-container, .solution-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.problem-card, .solution-card{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFD700;
    margin: 2em;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);;
    transition: all 0.5s ease;
}

.problem-card:hover, .solution-card:hover{
    transform: translatey(-10px);
}

.problem-img, .solution-img{
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 50px;
}
.about img{
    width: 100%;
}

/* service-end */


/* form */
.service{
    padding: 3em 0;
    text-align: center;
}

.service p {
    font-size: 1.2em;
    margin-bottom: 2em;
}


.form-button{
    display: flex;
    justify-content: center; 
}

#open-form{
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
}
/* form-end */

/* form-donasi */
#form{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.close-form{
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    cursor: pointer;
}


.close-form img{
    width: 100%;
}

.form-content{
    position: relative;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    height: 800px;
    width: 70%;
}

/* fprm-donasi */

/* riwayat */
.riwayat{
    background-color: #f7f2e4;
    text-align: center;
    padding: 3em 0;
}
/* riwayat */

/* footer */
footer{
    background-color: #123458;
    padding: 30px;
    color: white;
    text-align: center;
}

footer h2{
    color: yellow;
    margin-top: 1em;
}

.contact-img{
    width: 22px;
    height: 21px;
    border-radius: 45%;
    margin-right: 1em;
}

.contact img{
    width: 100%;
}

.contact{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 5em;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-box{
    display: flex;
    align-items: center;

}
/* footer-end */